@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/Sofia-Pro-ExtraLight.otf") format('otf');
}

@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Sofia-Pro-Light.otf") format('otf');
}

@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Sofia-Pro-Regular.otf") format('otf');
}

@font-face {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Sofia-Pro-Medium.otf") format('otf');
}

@font-face {
    font-family: system-ui;
    font-style: normal;
    font-weight: 400;
    src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
}

@font-face {
    font-family: system-ui;
    font-style: normal;
    font-weight: 500;
    src: local(".SFNSText-Medium"), local(".HelveticaNeueDeskInterface-MediumP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold"), local("Ubuntu Medium"), local("Roboto-Medium"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
    font-family: system-ui;
    font-style: normal;
    font-weight: 700;
    src: local(".SFNSText-Bold"), local(".HelveticaNeueDeskInterface-Bold"), local(".LucidaGrandeUI"), local("Segoe UI Bold"), local("Ubuntu Bold"), local("Roboto-Bold"), local("DroidSans-Bold"), local("Tahoma Bold");
}

body {
    margin: 0;
    font-family: 'Sofia Pro', system-ui;
}

html {
    background-color: #11151C;
}

/* Navbar header */
.navbar {
    height: 101px;
    background-color: #11151C;
    padding: 0 70px;
}

.nav-link {
    margin: 0 35px;
    color: #F2F4F3;
}

.nav-link:hover {
    background-color: transparent !important;
    color: #ffffff !important;
}

.navbar-brand {
    height: 100%;
}

.navbar-burger {
    margin-top: auto;
    margin-bottom: auto;
    color: #F2F4F3;
}

.navbar-burger:hover {
    color: #F2F4F3;
}

.navbar-end {
    background-color: #11151C;
}

.lets-talk {
    background-color: #FFFFFF;
    color: #11151C;
    margin: 0;
    padding: 0 35px;
}

.lets-talk:hover {
    color: #11151C !important;
    background-color: #FFFFFF !important;
}

/* hero section */
.section {
    background-color: #11151C;
    padding: 0 70px;
}

.hero {
    padding-top: 149px;
    padding-bottom: 149px;
}

.work {
    padding-top: 20px;
    padding-bottom: 20px;
}

.hero-welcome {
    color: #F2F4F3;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 16px;
}

.hero-name {
    font-size: 80px;
    color: #F2F4F3;
    margin-bottom: 15px;
}

.hero-sub {
    font-size: 16px;
    color: #9DD1F1;
    font-weight: 400;
}

.hero-elevator {
    color: #F2F4F3;
    font-size: 24px;
    line-height: 36px;
    font-weight: 100;
}

/* work section */
.section-heading {
    color: #F2F4F3;
    font-size: 32px;
    margin: 20px 0 60px 0;
}

.work-heading {
    color: #9DD1F1;
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: 400;
}

.work-heading:hover {
    color: #6b91a8;
}

.work-sub {
    color: #16E0BD;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 17px;
}

.work-summary {
    font-size: 24px;
    line-height: 36px;
    font-weight: 200;
    color: #F2F4F3;
}

.hero-elevator-wrapper {
    align-self: center;
}

.work-wrapper {
    margin-bottom: 130px !important;
}


/* skills section */
.skills-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    stroke-width: 0;
    stroke: #9DD1F1;
    fill: #9DD1F1;
    vertical-align: middle;
}

.skills-heading {
    color: #9DD1F1;
    font-size: 24px;
    margin-left: 20px;
    vertical-align: middle;
}

.skills-icon-wrapper {
    align-self: center;
}

.skills {
    color: #F2F4F3;
    margin-top: 40px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 200;
}

.skills-section {
    margin-bottom: 120px;
}

/* footer section */
footer {
    padding: 74px 70px;
    background-color: #F3EFF5;
}

.footer-heading {
    color: #11151C !important;
    margin-bottom: 30px;
}

.footer-text {
    font-size: 24px;
    color: #11151C;
    line-height: 36px;
    margin-bottom: 25px;
}

.footer-email {
    color: #11151C;
    font-size: 24px;
    margin-bottom: 35px;
}

.footer-email:hover {
    color: #2d333d;
}

.footer-icons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
}

.icon {
    fill: #11151C;
    margin-right: 50px;
}

.icon:hover {
    fill: #6b91a8;
}

/* lines */
.first-line {
    width: 1px;
    height: 100px;
    position: absolute;
    left: 70px;
}


@media screen and (max-width:768px) {
    .work-image-wrapper {
        text-align: center;
    }

    .mediax-img {
        order: 1 !important;
    }

    .mediax-details {
        order: 2 !important;
    }
}

@media screen and (max-width:632px) {
    .hero-name {
        font-size: 60px;
    }
}

@media screen and (max-width:1087px) {
    .nav-link {
        margin: 0 70px;
    }

    .navbar-menu {
        background-color: #11151C;
        margin: 0 !important;
    }

    .navbar-end {
        margin-top: -10px !important;
        margin: 0 -70px;
    }

    .lets-talk {
        background-color: transparent;
        color: #9DD1F1;
        margin: 0 70px;
        padding: .5rem .75rem;
    }

    .lets-talk:hover {
        color: #9DD1F1 !important;
        background-color: transparent !important;
    }
}

@media screen and (max-width:584px) {
    .navbar {
        padding: 0 30px;
    }

    .section {
        padding-left: 30px;
        padding-right: 30px;
    }

    footer {
        padding: 74px 30px;
    }
}

@media screen and (max-width:432px) {
    .hero-name {
        font-size: 50px;
    }

    .hero-elevator,
    .footer-email {
        font-size: 18px;
        line-height: 27px;
    }
}

@media screen and (max-width:338px) {
    .hero-name {
        font-size: 30px;
    }

    .hero-elevator,
    .footer-email {
        font-size: 16px;
        line-height: 24px;
    }

    .hero-sub {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (min-width:769px) {
    .work-img-right {
        float: right;
    }
}